In [1]:
# Create a test json and sql file. 
# Proof of concept.

import random
def get_random_in_range(range_val, number_of):
    input_list = range(range_val)
    return [input_list[i] for i in sorted(random.sample(range(range_val), number_of))]

range_val = 50
number_of_values = 30

sql_file = get_random_in_range(range_val, number_of_values)
json_file = get_random_in_range(range_val, number_of_values)

print(sql_file)
print(json_file)

[1, 2, 3, 6, 7, 10, 13, 14, 15, 16, 17, 18, 19, 21, 26, 29, 30, 32, 33, 35, 36, 37, 39, 40, 42, 44, 45, 46, 48, 49]
[0, 4, 5, 7, 9, 11, 14, 15, 21, 22, 24, 26, 28, 29, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 49]

In [10]:
print("json: ", json_file)
print("sql: ", sql_file)

def get_next_json(json_iter=0, step_size=5):
    return json_file[json_iter: json_iter+step_size]

def get_next_sql(sql_iter=0, step_size=5):
    return sql_file[sql_iter: sql_iter+step_size]

print(get_next_json())
print(get_next_sql())

json:  [0, 4, 5, 7, 9, 11, 14, 15, 21, 22, 24, 26, 28, 29, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 49]
sql:  [1, 2, 3, 6, 7, 10, 13, 14, 15, 16, 17, 18, 19, 21, 26, 29, 30, 32, 33, 35, 36, 37, 39, 40, 42, 44, 45, 46, 48, 49]
[0, 4, 5, 7, 9]
[1, 2, 3, 6, 7]

In [15]:
json_file = [0, 4, 5, 7, 9, 11, 14, 15, 21, 22, 24, 26, 28, 29, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 49]
sql_file = [1, 2, 3, 6, 7, 10, 13, 14, 15, 16, 17, 18, 19, 21, 26, 29, 30, 32, 33, 35, 36, 37, 39, 40, 42, 44, 45, 46, 48, 49]

In [24]:
print('intersection: ', len(set(json_file).intersection(set(sql_file))))
print('left join: ', len(set(json_file)-set(sql_file)))
print('right join: ', len(set(sql_file)-set(json_file)))

intersection:  17
left join:  13
right join:  13

In [30]:
json_window = get_next_json()
sql_window = get_next_sql()
print(json_window, sql_window)

left, right, center = 0, 0, 0
intersection = []

global_json_iter, global_sql_iter = 0, 0
step_size = 5
json_iter, sql_iter = 0, 0

while True:
    while json_iter < len(json_window) and sql_iter < len(sql_window):
        if json_window[json_iter] == sql_window[sql_iter]:
            intersection.append((json_window[json_iter], sql_window[sql_iter]))
            center += 1
            sql_iter += 1
            json_iter += 1
        elif json_window[json_iter] < sql_window[sql_iter]:
            left += 1
            json_iter += 1
        elif json_window[json_iter] > sql_window[sql_iter]:
            right += 1
            sql_iter += 1
            
    if json_iter == len(json_window):
        global_json_iter += step_size
        json_window = get_next_json(global_json_iter, step_size)
        json_iter = 0
        
    elif sql_iter == len(sql_window):
        global_sql_iter += step_size
        sql_window = get_next_sql(global_sql_iter, step_size)
        sql_iter = 0
        
    if json_iter == 636403 or sql_iter == 637150 or not sql_window or not json_window:
        break
        
print('intersection: ', intersection)
print(left, right, center)

[0, 4, 5, 7, 9] [1, 2, 3, 6, 7]
intersection:  [(7, 7), (14, 14), (15, 15), (21, 21), (26, 26), (29, 29), (32, 32), (33, 33), (35, 35), (36, 36), (37, 37), (39, 39), (40, 40), (42, 42), (44, 44), (45, 45), (49, 49)]
13 13 17

In [35]:
import pymysql

connection = pymysql.connect(host='data-engineer-rds.czmkgxqloose.us-east-1.rds.amazonaws.com',
                             user='cogo_read_only',
                             password='N&f#vSq9',
                             db='liveworks',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

table_name = 'cogo_list_v1'
try:
    with connection.cursor() as cursor:
        cursor.execute("select * from {} limit 0, 10 ".format(table_name))
        print(cursor.fetchall())
#         while True:
#             result = cursor.fetchone()
#             if not result:
#                 break
#             print(result)
finally:
    connection.close()

[{'id': 1, 'name': 'Eric Brooks', 'address': '7294 Nicole Motorway Phamview, PR 35990-7992', 'birthdate': '1998-03-08', 'sex': 'M', 'job': 'Veterinary surgeon', 'company': 'Hicks-Bennett', 'emd5': '0000141445c93deb94819729f172b9e3'}, {'id': 2, 'name': 'Mrs. Nicole Payne', 'address': '7491 Mitchell Centers Davisstad, MO 95858-8608', 'birthdate': '1997-03-02', 'sex': 'F', 'job': 'Hotel manager', 'company': 'Bender PLC', 'emd5': '000019ae599d24237e28e67cf6655f55'}, {'id': 3, 'name': 'Katherine Shaffer', 'address': '001 Macias Lodge Suite 314 South Summerfurt, WI 84980', 'birthdate': '1994-02-23', 'sex': 'F', 'job': 'Immigration officer', 'company': 'Diaz Ltd', 'emd5': '00001f81bfbc733f17fb6ee34fc0d24d'}, {'id': 4, 'name': 'Marie Carlson', 'address': '4036 Cisneros Mount Leonhaven, NY 49681-7671', 'birthdate': '2007-03-09', 'sex': 'F', 'job': 'Aeronautical engineer', 'company': 'Alvarado, Williams and Shah', 'emd5': '0000634857164b38b640b3032bc7ac52'}, {'id': 5, 'name': 'William Kelly', 'address': '4021 Samantha Glens East Mikechester, AL 37576-9226', 'birthdate': '1993-03-24', 'sex': 'M', 'job': 'Academic librarian', 'company': 'Jones, Craig and Bennett', 'emd5': '000083b59a7438d7e76869357114c6ce'}, {'id': 6, 'name': 'Adrian Carrillo', 'address': '83040 Collins Cliff West Derekmouth, PW 76089', 'birthdate': '2012-08-28', 'sex': 'M', 'job': 'Barrister', 'company': 'Brown PLC', 'emd5': '00008832d2a165fe33e17d974de81838'}, {'id': 7, 'name': 'Morgan Jones PhD', 'address': '592 Marilyn Junction Suite 144 South Ethanbury, KS 24710-4016', 'birthdate': '1977-12-05', 'sex': 'F', 'job': 'Customer service manager', 'company': 'Thomas-King', 'emd5': '00009778d203b198b35f236e108a6bfc'}, {'id': 8, 'name': 'Michael Young', 'address': '12229 Wright Plains Jamesmouth, NH 56124-2991', 'birthdate': '1990-10-20', 'sex': 'M', 'job': 'Clinical psychologist', 'company': 'Rose-Ballard', 'emd5': '0000a24e6e8b8f76e33f7df85ae12950'}, {'id': 9, 'name': 'Kelly Reese', 'address': 'PSC 4980, Box 0426 APO AA 57792', 'birthdate': '1987-01-08', 'sex': 'F', 'job': 'Cartographer', 'company': 'Anderson, Scott and Wood', 'emd5': '0000abbdd5509ba7ed5dec163fc798fa'}, {'id': 10, 'name': 'Eric Perez', 'address': '72890 Wilson Parkway Paulside, ME 74245-4409', 'birthdate': '1982-12-15', 'sex': 'M', 'job': 'Legal secretary', 'company': 'Howe Group', 'emd5': '0000f5fa062b45f25c8bc236dd1a5c1a'}]